{% extends 'base_main.html' %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block menu %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a href="{{url_for('admin_auction')}}" class="nav-link">Auction</a></li>
    <li class="nav-item"><a href="{{url_for('admin_member')}}" class="nav-link">Member</a></li>
    <li class="nav-item"><a href="{{url_for('admin_article')}}" class="nav-link">Articles</a></li>
    <li class="nav-item"><a href="{{url_for('admin_club')}}" class="nav-link">Clubs</a></li>
</ul>
{% endblock %}
{% block body %}

    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-end">
    			<div class="col-md-12 col-lg-12 p-3 py-5 pl-lg-12 ftco-animate">
    				<h2 class="mb-4">Admin Login</h2>
                    {% if error != ' ' %}
                        <h5 class="mb-4">{{error}}</h5>
                    {% endif %}
    				<form action="{{url_for('admin_login')}}" class="appointment"  method="post">
    					<div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Email" name="user_email" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Password" name="user_pass" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-success py-3 px-4">
                                </div>
                            </div>

    					</div>
	                </form>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}