{% extends 'base_admin.html' %}

{% block title %}
{% endblock %}

{% block menu %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item "><a href="{{url_for('admin_auction')}}" class="nav-link">Auction</a></li>
    <li class="nav-item active"><a href="{{url_for('admin_member')}}" class="nav-link">Member</a></li>
    <li class="nav-item"><a href="{{url_for('admin_article')}}" class="nav-link">Articles</a></li>
    <li class="nav-item"><a href="{{url_for('admin_club')}}" class="nav-link">Clubs</a></li>
</ul>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4 col-md-4 col-lg-4 p-1 py-5 pl-lg-4 ftco-animate">
        <a class="btn btn-success " href="{{url_for('admin_member_unverified')}}">Unverified Members</a>
    </div>
    <div class="col-4 col-md-4 col-lg-4 p-1 py-5 pl-lg-4 ftco-animate">
        <a class="btn btn-success " href="{{url_for('admin_member_verified')}}">Verified Members</a>
    </div>
    <div class="col-4 col-md-4 col-lg-4 p-1 py-5 pl-lg-4 ftco-animate">
        <a class="btn btn-success " href="{{url_for('admin_member')}}">All Members</a>
    </div>
    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Member List</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email::Phone</th>
                                <th>Address</th>
                                <th>NID</th>
                                <th>DOB.</th>
                                <th>Reg Date</th>
                                <th>Reference</th>
                                <th>Unverified By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for mem in members %}
                            <tr>
                                <td>{{mem['name']}}</td>
                                <td>{{mem['email']}} :: {{mem['phone']}}</td>
                                <td>{{mem['address']}}</td>
                                <td>{{mem['nid']}}</td>
                                <td>{{mem['dob']}}</td>
                                <td>{{mem['register_date']}}</td>
                                <td>{{mem['reference']}}</td>
                                <td style="color:#e00000;">{{mem['approvedBy']}}</td>
                                <td><form action="{{url_for('admin_member_unverified')}}" method="post">
                                    <button class="btn btn-success" name="verify" value="{{mem['user_id']}}">Verify</button>
                                </form></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Email::Phone</th>
                                <th>Address</th>
                                <th>NID</th>
                                <th>DOB.</th>
                                <th>Reg Date</th>
                                <th>Reference</th>
                                <th>Unverified By</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->
</div>

{% endblock %}
