{% extends 'base_main.html' %}
{% block title %}
    <title>Pigeon Infinity</title>
{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item active"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row d-flex">
            {% for art in articles %}
                <div class="col-md-4 ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="/Articles/{{art['id']}}" class="block-20 rounded" style="background-image: url('/static/UPLOADS/ARTICLE/{{art['picture']}}');">
              </a>
              <div class="text p-4">
              	<div class="meta mb-2">
                  <div><a href="/Articles/{{art['id']}}">{{art['timedate']}}</a></div></br>
                  <div><a href="/Articles/{{art['id']}}">{{art['auth']}}</a></div></br>
                  <!--<div><a href="/Articles/{{art['id']}}" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>-->
                </div>
                <h3 class="heading"><a href="/Articles/{{art['id']}}">{{art['title']}}</a></h3>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>
        <!--<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </section>
{% endblock %}


{% block custom_js %}

{% endblock %}