{% extends 'base_main.html' %}

{% block title %}
    <title>Auctions</title>
{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item active"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
      <li class="nav-item"><a href="{{url_for('buy')}}" class="nav-link">Buy Now</a></li>
      <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

    {% if runningAuc|length > 0 %}
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Running Auctions</h2>
          </div>
        </div>
        <div class="row d-flex">
            {% for r in runningAuc %}
                <div class="col-md-12 ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/UPLOADS/{{r['MainPicture']}}');">
                      </a>
                      <div class="text p-4">
                        <div class="meta mb-2">
                          <div><a href="#">Ends in</a></div>
                          <div><a href="#">{{r['AuctionStart']}} - {{r['AuctionEnd']}}</a></div>
                          <div><a href="#" class="meta-chat"><span class="fa fa-certificate"></span> {{r['Pigeons']}}</a></div>
                        </div>
                        <h3 class="heading"><a href="#">{{r['AuctionName']}}</a></h3>
                        <p><a href="#">{{r['AuctionDetails']}}</a></p>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    {% if upcommingAuc|length > 0 %}
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Upcoming Auctions</h2>
          </div>
        </div>
        <div class="row d-flex">
            {% for u in upcommingAuc %}
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/UPLOADS/{{u['MainPicture']}}');">
                      </a>
                      <div class="text p-4">
                        <div class="meta mb-2">
                          <div><a href="#">Starts in</a></div>
                          <div><a href="#">{{u['AuctionStart']}} - {{u['AuctionEnd']}}</a></div>
                          <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> {{u['Pigeons']}}</a></div>
                        </div>
                        <h3 class="heading"><a href="#">{{u['AuctionName']}}</a></h3>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    {% if pastAuc|length >0 %}
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Previous Auctions</h2>
          </div>
        </div>

        <div class="row d-flex">
            {% for p in pastAuc %}
                <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('static/UPLOADS/{{p['MainPicture']}}');">
              </a>
              <div class="text p-4">
              	<div class="meta mb-2">
                  <div><a href="#">{{p['AuctionStart']}} - {{p['AuctionEnd']}}</a></div>
                  <div><a href="#">Pigeons</a></div>
                  <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> {{p['Pigeons']}}</a></div>
                </div>
                <h3 class="heading"><a href="#">{{p['AuctionName']}}</a></h3>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
{% endblock %}
