{% extends 'base_main.html' %}
{% block title %}
    <title>Pigeon Infinity</title>
{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item active"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/xian_img/brpel.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>BRPEL</h3>
								<span class="position mb-2">Bangladesh Racing Pigeons Entrepreneur Limited</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="https://brpel.com/" class="d-flex align-items-center justify-content-center"><span class="fa fa-globe"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/xian_img/brpfc.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>BRPFC</h3>
								<span class="position mb-2">Bangladesh Racing Pigeon Fancier Club</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="http://www.brpfc.org/" class="d-flex align-items-center justify-content-center"><span class="fa fa-globe"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/xian_img/arcpd.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>ARPCD</h3>
								<span class="position mb-2">Alliance Racing Pigeon Club Dhaka</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="http://www.arpcd.com/" class="d-flex align-items-center justify-content-center"><span class="fa fa-globe"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/xian_img/brpoa.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>BRPOA</h3>
								<span class="position mb-2">Bangladesh Racing Pigeons Owner's Association</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="http://www.brpoa.com.bd/" class="d-flex align-items-center justify-content-center"><span class="fa fa-globe"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>


{% endblock %}


{% block custom_js %}

{% endblock %}