{% extends 'base_main.html' %}
{% block title %}
    <title>Pigeon Infinity</title>
{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item active"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

	<section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-5 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(static/logo/Logo_w.jpg);">
    				</div>
    			</div>
    			<div class="col-md-7 pl-md-5 py-md-5">
    				<div class="heading-section pt-md-5">
	            <h2 class="mb-4">Introduction</h2>
    				</div>
                    <div>
                        <p>
                           What we present before you, is the future of Auctions in the subcontinent.
                            We are establishing an unique platform for all fanciers. Everyone will have an opportunity in acquiring the highest quality birds available here.
                            With years of experience in the sports, we are here for you with the kind of support you deserve! From selection of the very best, to the logistics and care. Pigeon Infinity is determined to make your dreams come true!
                        </p>
                    </div>
                    <div class="row">
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-stethoscope"></span></div>
	    					<div class="text pl-3">
	    						<h4>Experienced Advices</h4>
	    						<!--<p>Far far away, behind the word mountains, far from the countries.</p>-->
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-customer-service"></span></div>
	    					<div class="text pl-3">
	    						<h4>Customer Supports</h4>
	    						<!--<p>Far far away, behind the word mountains, far from the countries.</p>-->
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-emergency-call"></span></div>
	    					<div class="text pl-3">
	    						<h4>Emergency Services</h4>
	    						<!--<p>Far far away, behind the word mountains, far from the countries.</p>-->
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-veterinarian"></span></div>
	    					<div class="text pl-3">
	    						<h4>Quality Auction</h4>
	    						<!--<p>Far far away, behind the word mountains, far from the countries.</p>-->
	    					</div>
	    				</div>
	    			</div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section" style="background-image: url('static/xian_img/index_heading.jpg');">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Pigeon Infinity Executives</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
                {% for e in executives %}
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                          <div class="text">
                            <p class="mb-4">{{e['status']}}</p>
                            <div class="d-flex align-items-center">
                                <div class="user-img" style="background-image: url(static/members/{{e['pic']}})"></div>
                                <div class="pl-3">
                                    <p class="name">{{e['name']}}</p>
                                    <!--<span class="position">{{e['status']}}</span>-->
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Our Patrons & Advisors</h2>
          </div>
        </div>
        <div class="row d-flex">
          {% for p in partons %}
          <div class="col-md-3 ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="#" class="block-20 rounded" style="background-image: url({{url_for('static', filename='members/'+p['pic'])}});">
              </a>
              <div class="text p-4">
                <div class="meta mb-2">
                    <h3 class="heading"><a href="#">{{p['name']}}</a></h3>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

	<section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Advisors of Pigeon Infinity</h2>
          </div>
        </div>
        <div class="row d-flex">
          {% for a in advisors %}
          <div class="col-md-3 ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="#" class="block-20 rounded" style="background-image: url({{url_for('static', filename='members/'+a['pic'])}});">
              </a>
              <div class="text p-4">
                <div class="meta mb-2">
                    <h3 class="heading"><a href="#">{{a['name']}}</a></h3>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

	<section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Council of Pigeon Infinity</h2>
          </div>
        </div>
        <div class="row d-flex">
          {% for c in councils %}
          <div class="col-md-3 ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="#" class="block-20 rounded" style="background-image: url({{url_for('static', filename='members/'+c['pic'])}});">
              </a>
              <div class="text p-4">
                <div class="meta mb-2">
                    <h3 class="heading"><a href="#">{{c['name']}}</a></h3>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>



    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Contact Us</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row mb-5">
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Address:</span> Azimpur</p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Phone:</span> <a href="tel://1234567920">+88 01673398900</a></p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">pigeoninfinity@gmail.com</a></p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Website</span> <a href="#">pigeoninfinity.com</a></p>
					          </div>
				          </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}


{% block custom_js %}

{% endblock %}