{% extends 'base_main.html' %}
{% block title %}
    <title>Pigeon Infinity</title>
{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="{{url_for('buy')}}" class="nav-link">Buy Now</a></li>
        <li class="nav-item active"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Contact Us</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row mb-5">
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Address:</span> Azimpur</p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Phone:</span> <a href="tel://1234567920">+88 01673398900</a></p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">pigeoninfinity@gmail.com</a></p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Website</span> <a href="#">pigeoninfinity.com</a></p>
					          </div>
				          </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}


{% block custom_js %}

{% endblock %}