{% extends 'base_main.html' %}

{% block title %}
{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="{{url_for('buy')}}" class="nav-link">Buy Now</a></li>
        <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-5 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url({{url_for('static', filename='UPLOADS/AUCTION/'+pigeon['MainPic'])}});">
    				</div>
    			</div>
    			<div class="col-md-7 pl-md-5 py-md-5">
    				<div class="heading-section pt-md-5">
	            <h2 class="mb-4">{{pigeon['PigeonRing']}}</h2>
	            <h4 class="mb-4">{{pigeon['PigeonName']}}</h4>
    				</div>
    				<div class="row">
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
	    					<div class="text pl-3">
	    						<h4>Breed by</h4>
	    						<p>{{pigeon['BreedBy']}}</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
	    					<div class="text pl-3">
	    						<h4>Offer by</h4>
	    						<p>{{pigeon['OfferBy']}}</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-transgender"></span></div>
	    					<div class="text pl-3">
	    						<h4>Gender</h4>
	    						<p>{{pigeon['PigeonGender']}}</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-paint-brush"></span></div>
	    					<div class="text pl-3">
	    						<h4>Color</h4>
	    						<p>{{pigeon['PigeonColor']}}</p>
	    					</div>
	    				</div>
	    			</div>
	        </div>
        </div>
    	</div>
    </section>

    {% if running == 'Running'%}
    <section class="ftco-counter" id="section-counter">
    	<div class="container">
				<div class="row">
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_days"></strong>
              </div>
              <div class="text">
              	<span>Days</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_hours"></strong>
              </div>
              <div class="text">
              	<span>Hours</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_mins"></strong>
              </div>
              <div class="text">
              	<span>Minutes</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_secs"></strong>
              </div>
              <div class="text">
              	<span>Seconds</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
    {% endif %}

    <section class="ftco-section bg-light ">
    	<div class="container">
    		<div class="row">

                <div class="col-md-7 d-flex align-self-stretch px-4 ftco-animate">

                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-info-circle"></span>
                        </div>
                        <div class="media-body p-4">
                            <h3 class="heading">Details</h3>
                            <p>{{pigeon['PigeonDetails']}}</p>

                        </div>
                    </div>

                </div>

                <div class="col-md-5 ftco-animate">
                    <div class="card" style="font-size: 10px; overflow: auto; max-height: 400px; min-height: 400px;">
                        {% if running == 'Running' %}
                        <h6 class="card-header">Latest Bid on {{pigeon['PigeonRing']}} ({{pigeon['PigeonName']}})</h6>
                        {% elif running == 'Upcoming' %}
                        <h6 class="card-header" style="color:#1f00cc;">Auction hasn't started</h6>
                        {% elif running == 'Ended' %}
                        <h6 class="card-header" style="color:#cc0000;">Auction Ended</h6>
                        {% endif %}
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Time</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="table_bids">
                                    {% if running == 'Ended' %}
                                        {% for b in bid_list %}
                                            <tr>
                                                <td>{{b['BidTimeDate']}}</td>
                                                <td><a href="/Profile/{{b['user_id']}}">{{b['name']}}</a></td>
                                                <td>{{b['BidAmount']}}</td>
                                            </tr>
                                        {% endfor %}

                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% if running == 'Running' %}

                <div class="col-md-2 col-lg-2"></div>
                <div class="col-md-8 col-lg-8 p-3 py-5 pl-lg-12 ftco-animate">
                    <h2 class="mb-4">Bid Now</h2>

                    <div class="appointment"  method="post">
                        <div class="row">

                            {% if pigeon['Price'] < 10000 %}
                                {% set bidChange = 500 %}
                            {% elif pigeon['Price'] >= 10000 and pigeon['Price'] < 20000 %}
                                {% set bidChange = 1000 %}
                            {% elif pigeon['Price'] >= 20000 and pigeon['Price'] < 50000 %}
                                {% set bidChange = 2000 %}
                            {% elif pigeon['Price'] >= 50000 %}
                                {% set bidChange = 5000 %}
                            {% endif %}


                            <div class="col-md-12">
                                <!--{% if pigeon['LastBidderName'] == session['name'] %}
                                    {% set colorr = '#00b330' %}
                                {% elif pigeon['LastBidderName'] == '---' %}
                                    {% set colorr = '#0003bf' %}
                                {% else %}
                                    {% set colorr = '#b31e00' %}
                                {% endif %} -->
                                <div id="last_bidder" > <!-- style="color:{{colorr}};" -->
                                    {% if pigeon['LastBidderName'] == '---' %}
                                    You are the first bidder, starting bid {{pigeon['Price']+bidChange}}
                                    {% endif %}
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="number" class="form-control" placeholder="Bid Amount" name="bid_amount" id="bid_amount" value="{{pigeon['Price']+bidChange}}" required> <!--- value="{{pigeon['Price']+bidChange}}" --->
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-success py-3 px-4" onclick="Bid()">Bid</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>

                {% endif %}

            </div>
    	</div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="work mb-4 img d-flex align-items-end" style="background-image: url({{url_for('static', filename='UPLOADS/AUCTION/'+pigeon['MainPic'])}});">
                        <a href="{{url_for('static', filename='UPLOADS/'+pigeon['MainPic'])}}" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="fa fa-expand"></span>
                        </a>
                    </div>
                  </div>
                {% for pics in pigeon['AllPic'] %}
                  <div class="col-md-4 ftco-animate">
                    <div class="work mb-4 img d-flex align-items-end" style="background-image: url({{url_for('static', filename='UPLOADS/AUCTION/'+pics)}});">
                        <a href="{{url_for('static', filename='UPLOADS/'+pics)}}" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="fa fa-expand"></span>
                        </a>
                    </div>
                  </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <div class="container">
    		<div class="row">
    			<div class="col-lg-12">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url({{url_for('static', filename='UPLOADS/AUCTION/'+pigeon['MainPic'])}}); height: 300px;">
    					<a href="{{pigeon['vdoLink']}}" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
    						<span class="fa fa-play"></span>
    					</a>
    				</div>
    			</div>
            </div>
    </div>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>All Pigeons</h2>
          </div>
        </div>
        <div class="row d-flex">
            {% for all_pgs in auc_pgs %}
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}" class="block-20 rounded" style="background-image: url({{url_for('static', filename='UPLOADS/AUCTION/'+all_pgs['MainPic'])}});">
                      </a>
                      <div class="text p-4">
                        <div class="meta mb-2">
                            <h3 class="heading"><a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}">{{all_pgs['PigeonRing']}}</a></h3><br>

                            <div><a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}">{{all_pgs['PigeonName']}}</a></div><br>
                            <div><a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}">Breed by: {{all_pgs['BreedBy']}}</a></div><br>
                            <div><a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}">Offer by: {{all_pgs['OfferBy']}}</a></div><br>
                            <div><a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}" class="meta-chat"><span class="fa fa-gavel"></span> {{all_pgs['Price']}}</a></div><br>
                            <div><a href="/Auction/Pigeon/{{all_pgs['PigeonID']}}">Last bid by: {{all_pgs['LastBidderName']}}</a></div><br>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        
        let pigeonPrice = {{pigeon['Price']|safe}};
        let pigeonEndTime = "{{pigeon['EndTime']|safe}}";

        function updatePigeon(pigeonID){
            $.ajax({
                method:"post",
                url:"{{url_for('getBid')}}",
                data: {pigeonID: pigeonID},
                success:function(result){

                    //console.log(result);
                    
                    if(result.length >0){
                        document.getElementById('table_bids').innerHTML = '';

                        let tbl = '';

                        result.forEach((item) => {
                            tbl += '<tr>'+
                                        '<td>'+item.BidTimeDate+'</td>'+
                                        '<td>'+item.name+'</td>'+
                                        '<td>'+item.BidAmount+'</td>'+
                                    '</tr>';

                        });

                        document.getElementById('table_bids').innerHTML = tbl;


                        pigeonPrice = result[0].BidAmount;
                        pigeonEndTime = result[0].EndTime;
                        //console.log('Pigeon Price: '+pigeonPrice);
                        let session_name = '{{session['name']}}';
                        let clr = '#b31e00'; //Red
                        if(session_name == result[0].name){
                            clr = '#00b330'; //Red
                        }
                        document.getElementById('last_bidder').innerHTML = '<p style="color:'+clr+';">Latest Bid by '+result[0].name+' amount '+result[0].BidAmount+'</p>';
                    }

                    
                }
            });
        }

        function Bid(){
            
            let userID = "{{session['user_id']}}";
            if (userID == ""){
                window.location.replace("{{url_for('login')}}");
            }

            let amount = document.getElementById("bid_amount").value;
            let pigeonID = {{pigeon['PigeonID']}};
            let userName = "{{session['name']}}";
            let auctionID = {{pigeon['AuctionID']}};
            //let userID = 1;
            //let userName = 'Xian';
            
            let bidChange = 0;
        
            if(pigeonPrice<10000){
                bidChange = 500;
            }else if(pigeonPrice>=10000 && pigeonPrice<20000){                     
                bidChange = 1000;
            }else if(pigeonPrice>=20000 && pigeonPrice<50000){                     
                bidChange = 2000;
            }else if(pigeonPrice>=50000){                     
                bidChange = 5000;
            }
            //alert(pigeonID+" "+userID+" "+amount+" "+auctionID+" "+pigeonPrice+" "+bidChange );
            if(amount >= (pigeonPrice+bidChange) && (amount-pigeonPrice) <=10000){

                $.ajax({
                    method:"post",
                    url:"{{url_for('Bid')}}",
                    data: {pigeonID: pigeonID, amount: amount, userID: userID, auctionID: auctionID, userName: userName},
                    success:function(result){
                        console.log(result);
                        alert(result['status']);

                    }
                });
            }else{
                alert('Bid difference should be more then '+bidChange+' and less then 10,000');
            }
            

        }
        
        function EndingTimeDiffSingle(endingTime) {

            let DateTime = luxon.DateTime;
            let now = DateTime.local().setZone('Asia/Dhaka')
            let nowMilis = now. toMillis();

            //console.log(nowMilis);

            //let auctionEndDateTime = new Date(endingTime);
            //let aucEndsMilis = auctionEndDateTime.getTime();

            let auctionEndDateTime = DateTime.fromFormat(endingTime, 'y-MM-dd HH:mm:ss',{zone: 'Asia/Dhaka'});
            let aucEndsMilis = auctionEndDateTime.toMillis();
            //console.log(aucEndsMilis);

            endsIn = aucEndsMilis - nowMilis;

            if(endsIn==0){
                location.reload();
            }

            days = parseInt(endsIn/86400000);
            hours = parseInt((endsIn%86400000)/3600000);
            mins = parseInt((endsIn%3600000)/60000);
            secs = parseInt((endsIn%60000)/1000);

            let ends = days+' days '+hours+' hours '+mins+' minutes '+secs+' seconds';
            //console.log(ends);
            
            document.getElementById("a_days").innerHTML = ""+days;            
            document.getElementById("a_hours").innerHTML = ""+hours;            
            document.getElementById("a_mins").innerHTML = ""+mins;            
            document.getElementById("a_secs").innerHTML = ""+secs;
        }
        
        let running = "{{running|safe}}";
        
        if(running == 'Running'){
            setInterval(function(){
                updatePigeon({{pigeon['PigeonID']}});
                EndingTimeDiffSingle(pigeonEndTime);
            }, 1000);
        }

        


    </script>
{% endblock %}