{% extends 'base_main.html' %}
{% block title %}
    <title>Register</title>
{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="vet.html" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="services.html" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="gallery.html" class="nav-link">Buy Now</a></li>
        <li class="nav-item"><a href="pricing.html" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">About</a></li>
    </ul>
{% endblock %}
{% block body %}

    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-end">
    			<div class="col-md-12 col-lg-12 half p-3 py-5 pl-lg-5 ftco-animate">
    				<h2 class="mb-4">Register</h2>
                    {% if error != ' ' %}
                        <h5 class="mb-4">{{error}}</h5>
                    {% endif %}
    				<form action="{{url_for('registration')}}" class="appointment">
    					<div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="" id="" cols="10" rows="4" class="form-control" placeholder="Address"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Birth Certificate / NID Number">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="email" class="form-control" placeholder="Email address">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Phone number">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Password">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Re-enter Password">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn btn-primary py-3 px-4">
                                </div>
                            </div>
    					</div>
	                </form>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}