{% extends 'base_main.html' %}

{% block title %}
{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="{{url_for('buy')}}" class="nav-link">Buy Now</a></li>
        <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({{url_for('static', filename='UPLOADS/'+auc['MainPicture'])}});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
              <h1 class="mb-0 bread">{{auc['AuctionName']}}</h1>
              <p class="breadcrumbs mb-2">{{auc['AuctionDetails']}}</p>

          </div>
        </div>
      </div>
    </section>

    {% if running == 'Running' %}
    <section class="ftco-counter" id="section-counter">
    	<div class="container">
				<div class="row">
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_days"></strong>
              </div>
              <div class="text">
              	<span>Days</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_hours"></strong>
              </div>
              <div class="text">
              	<span>Hours</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_mins"></strong>
              </div>
              <div class="text">
              	<span>Minutes</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" id="a_secs"></strong>
              </div>
              <div class="text">
              	<span>Seconds</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
    {% endif %}

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Pigeons</h2>
          </div>
        </div>
        <div class="row d-flex">
          {% for p in pgs %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="Pigeon/{{p['PigeonID']}}" class="block-20 rounded" style="background-image: url({{url_for('static', filename='UPLOADS/'+p['MainPic'])}});">
              </a>
              <div class="text p-4">
                <div class="meta mb-2">
                    <h3 class="heading"><a href="Pigeon/{{p['PigeonID']}}">{{p['PigeonRing']}}</a></h3>

                    <div><a href="Pigeon/{{p['PigeonID']}}">{{p['PigeonName']}}</a></div><br>
                    <div><a href="Pigeon/{{p['PigeonID']}}">Breed by: {{p['BreedBy']}}</a></div><br>
                    <div><a href="Pigeon/{{p['PigeonID']}}">Offer by: {{p['OfferBy']}}</a></div><br>
                    <div><a href="Pigeon/{{p['PigeonID']}}" class="meta-chat"><span class="fa fa-gavel"></span> {{p['Price']}} {{auc['Currency']}}</a></div><br>
                    <div><a href="Pigeon/{{p['PigeonID']}}">Last bid by: {{p['LastBidderName']}}</a></div><br>
                    <div><p id="ends{{p['PigeonID']}}" style="color:crimson"></p></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>


{% endblock %}

{% block custom_js %}
    <script type="text/javascript">

        //let runningAuc = "{{runningAuc|length}}";

        function EndingTimeDiffSingle(endingTime) {

            let DateTime = luxon.DateTime;
            let now = DateTime.local().setZone('Asia/Dhaka')
            let nowMilis = now. toMillis();

            //console.log(nowMilis);

            let auctionEndDateTime = new Date(endingTime);
            let aucEndsMilis = auctionEndDateTime.getTime();
            //console.log(aucEndsMilis);

            endsIn = aucEndsMilis - nowMilis;

            if(endsIn==0){
                location.reload();
            }

            days = parseInt(endsIn/86400000);
            hours = parseInt((endsIn%86400000)/3600000);
            mins = parseInt((endsIn%3600000)/60000);
            secs = parseInt((endsIn%60000)/1000);

            let ends = days+' days '+hours+' hours '+mins+' minutes '+secs+' seconds';
            //console.log(ends);
            
            document.getElementById("a_days").innerHTML = ""+days;            
            document.getElementById("a_hours").innerHTML = ""+hours;            
            document.getElementById("a_mins").innerHTML = ""+mins;            
            document.getElementById("a_secs").innerHTML = ""+secs;
        }
        
        function EndingPerPigeon(endingTime) {

            let DateTime = luxon.DateTime;
            let now = DateTime.local().setZone('Asia/Dhaka')
            let nowMilis = now. toMillis();

            //console.log(nowMilis);

            let auctionEndDateTime = new Date(endingTime);
            let aucEndsMilis = auctionEndDateTime.getTime();
            //console.log(aucEndsMilis);

            endsIn = aucEndsMilis - nowMilis;

            if(endsIn==0){
                location.reload();
            }if(endsIn<0){
                let ends = 'Auction Ended !!';
                //console.log(ends);
                return ends;  
            }else{
                days = parseInt(endsIn/86400000);
                hours = parseInt((endsIn%86400000)/3600000);
                mins = parseInt((endsIn%3600000)/60000);
                secs = parseInt((endsIn%60000)/1000);
                
                let ends = '';
                if(days == 0){
                    ends = hours+' hours '+mins+' minutes '+secs+' seconds';
                    
                    if(hours == 0){
                        ends = mins+' minutes '+secs+' seconds';
                        
                        if(mins == 0){
                            ends = secs+' seconds';
                        }
                    }
                }else{
                    ends = days+' days '+hours+' hours '+mins+' minutes '+secs+' seconds';
                }

               
                //console.log(ends);
                return ends;  
            }

                      

        }
        let running = '{{running}}';
        let pigeons = {{pgs|safe}};
        console.log(running);

        if(running == 'Running'){
            setInterval(function(){
                auc = {{auc|safe}};
                EndingTimeDiffSingle(auc['AuctionEnd']);

                let i;
                for(i=0; i<pigeons.length; i++){
                    endingTime = EndingPerPigeon(pigeons[i]['EndTime']);
                    document.getElementById("ends"+pigeons[i]['PigeonID']).innerHTML = endingTime;
                }

            }, 1000);
        }else if(running == 'Upcoming'){
            console.log('Auction Upcoming');
        }else{
            console.log('Auction Ended');
        }
        




</script>
{% endblock %}