{% extends 'base_main.html' %}
{% block title %}
    <title>Pigeon Infinity</title>
{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{url_for('auction')}}" class="nav-link">Auction</a></li>
        <li class="nav-item active"><a href="{{url_for('article')}}" class="nav-link">Articles</a></li>
        <li class="nav-item"><a href="{{url_for('club')}}" class="nav-link">Clubs</a></li>
        <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
    </ul>
{% endblock %}

{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/UPLOADS/ARTICLE/{{article['picture']}}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
              <h1 class="mb-0 bread">{{article['title']}}</h1>
          </div>
        </div>
      </div>
    </section>

    <section>
        <div class="container">
            <p style="padding:20px;">{{article['para1']}}</p>
            <div>
                <img src="{{url_for('static',filename='UPLOADS/ARTICLE/'+article['picture'])}}" class="img">
                
            </div>

            <p style="padding:20px;">{{article['para2']}}</p>
            <p style="text-align:right;">{{article['auth']}}</p>
            <p style="text-align:right;">{{article['timedate']}}</p>
        </div>

    </section>
{% endblock %}


{% block custom_js %}

{% endblock %}